body{
  overflow-x: hidden;
  font-family: 'Edu NSW ACT Foundation', cursive;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
}
header .contenedor{ 
background-color:  rgb(154, 81, 218);;
  width: 100%;
  height:12vh;
=======
  width: 100vw;
  height: 100vh;
}
header .contenedor{ 
background-color:  #84A59D;
  width: 100vw;
  height:10vh;
>>>>>>> Producto
  display: flex;
  justify-content: center;
  padding: 0px 0px;
}

header ul{
  display: flex;
}
header .menu {
  margin: 10px auto;
  display: flex;
  align-items: center;
  align-content: center;
}
header .menu ul li {
  list-style: none;
}

header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
<<<<<<< HEAD
  color: #eddede;
=======
  color: #ffffff;
>>>>>>> Producto
  text-transform: uppercase;
}
header .menu ul li .iconos {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
  text-transform: uppercase;
}

<<<<<<< HEAD
header .menu ul li a:hover {
  color: #ffffff;
  
=======
header .menu ul li :hover {
  color: #f6bd60;
  transition: all 1.0s;
>>>>>>> Producto
}

header .menu #btn_menu {
  display: none;
}
li{
  list-style: none;
  padding-right: 8px;
}

.containerlogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.innav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.innav img{
  width: 40px;
  height: 30px;
}
.bars{
  display: flex;
  align-items: center;
  display: flex;
}
.bars img{
  width: 40px;
  height: 40px;
  padding-right: 7px;
  cursor: pointer;
}
.container{
    width: 100%;
<<<<<<< HEAD
    height: 80%;
=======
    height: 100%;
>>>>>>> Producto
    display: grid;    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    
}

  .dos{
  
    text-align: center;
    grid-column: 1/9;
    grid-row: 1/5;
<<<<<<< HEAD
   
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
=======
>>>>>>> Producto
  }
  .contrainerlog{
    /*background: rgb(191,173,207);
    background: linear-gradient(147deg, rgba(64, 5, 116, 0.904) 0%, rgba(254,200,216,0.4) 100%);  
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f6bd60;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .container-login{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: transparent;
    border-radius: 12px;
    
  }
  .loginin{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

  }

  form{
    width: 80%;
    height: 100%;
    justify-content:space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    border: solid 1px #84A59D; 
    box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.4);
    border-radius: 8px;
  }
  p{
    font-size: 26px;
    color: #84A59D;
    text-shadow: 1px 2px 2px #fff;
   
  }
  input{
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 9px;
    display: flex;
    width: 80%;
    height: 30px;
    background: rgba(34,34,34,0.75);
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    border: solid 0.5px #84A59D;
    box-sizing: border-box;
    outline: none;
    color: #F5CAC3;
    text-shadow: 1px 1px 2px #000000;
  }

  

  button{
    height: 30px;
    width: 120px;
    border-radius: 12px;
    border: solid 0.5px #84A59D;
    font-size: 12px;
    color:#F5CAC3;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;

  }

  button:hover{
    transition: 2s;
    background-color:rgba(0,0,0,0.4) ;
   color: rgb(29, 227, 56);
    
  }
  
  .pie-pagina .grupo-2 {
    display: flex;
    width: 100%;
    background-color:#84A59D;
    padding: 1px 1px;
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }
  .pie-pagina .grupo-2 small {
    font-size: 10px;
  }
  .pie-pagina{
      display: flex;
      height: 7%;
      width: 100%;
  }
  @media screen and (max-width: 1000px)
{
    header{
       width: 100vw;
        display: flex;
        justify-content:center;
    }
    .contenedor{
       align-items: center;

    }
  
    .container-items{
        width: 100vw;   
    }
    .container-icon{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
   
    
  
    .icon-cart{
      margin-top: 0px;
      
      margin-left: 80px;
    }
    .count-products{
      position: relative;
      top: -14px;
      margin-left: 80px;

    }
}
@media screen and (max-width: 720px) {
    header .menu nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: rgba(6, 9, 13, 0.536);;
    width: 150px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 0.5s;
  }
  
  .pie-pagina .grupo-2 {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color:  rgb(154, 81, 218);;
    padding: 1px 1px;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
  }
  .pie-pagina .grupo-2 small {
    font-size: 10px;
  }
  .pie-pagina{
       
  }
  @media screen and (max-width: 1000px)
{
    header{
       width: 100vw;
        display: flex;
        justify-content:center;
    }
    .contenedor{
       align-items: center;

<<<<<<< HEAD
    }
  
    .container-items{
        width: 100vw;   
    }
    .container-icon{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
   
    
  
    .icon-cart{
      margin-top: 0px;
      
      margin-left: 80px;
    }
    .count-products{
      position: relative;
      top: -14px;
      margin-left: 80px;

    }
}
@media screen and (max-width: 720px) {
    header .menu nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: rgba(6, 9, 13, 0.536);;
    width: 150px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 0.5s;
  }

  header .menu ul {
    flex-direction: column;
    margin-top: 40px;
  }

  header .menu ul li {
    margin-top: 20px;
    margin-left: -30px;
  }

  header .menu ul li a {
    color: #fff;
    font-size: 20px;
  }
  .count-products {
    left: 13px;
    top: -14px;
    margin: 0;
  }
  .container-cart-products{
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #fff;
    width: 400px;
  }
  .menu nav img {
    display: block;
    width: 60px;
  }
.icon-cart{
  margin: 0px;
  
}
.container-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  header .menu #btn_menu {
    display: flex;
    margin-right: 330px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  }

  header .menu #btn_menu:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

    
=======
  header .menu ul {
    flex-direction: column;
    margin-top: 40px;
  }

  header .menu ul li {
    margin-top: 20px;
    margin-left: -30px;
  }

  header .menu ul li a {
    color: #fff;
    font-size: 20px;
  }
  .count-products {
    left: 13px;
    top: -14px;
    margin: 0;
  }
  .container-cart-products{
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #fff;
    width: 400px;
  }
  .menu nav img {
    display: block;
    width: 60px;
  }
.icon-cart{
  margin: 0px;
  
}
.container-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  header .menu #btn_menu {
    display: flex;
    margin-right: 330px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  }

  header .menu #btn_menu:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
.registerlink{
  text-decoration: none;
  color: #84A59D;
}
.registerlink:hover{
  color: #f7e2e2;
  transition: all 1.2s;
  border: #000000 solid 1px;
}
    
>>>>>>> Producto
  